{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Report Submissions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #2b5fc8;
        }
    </style>
</head>
<body>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Submissions</h4>
                </div>
                <div class="card-body">
                    {% if user.userprofile.is_site_admin and user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post" class="mb-3">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    {% else %}
                        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Report ID</th>
                                <th>Uploader</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for report in reports %}
                                <tr>
                                    <td><a href="{% url 'report_detail' report.id %}">{{ report.id }}</a></td>
                                    <td>{{ report.report_user }}</td>
                                    <td>{{ report.report_location }}</td>
                                    <td>
                                        <button class="btn
                                            {% if report.report_status == 'New' %}btn-primary
                                            {% elif report.report_status == 'In Progress' %}btn-warning
                                            {% elif report.report_status == 'Complete' %}btn-success
                                            {% endif %}
                                        " disabled>{{ report.report_status }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
