{% load socialaccount %}
<html>
<head>
    <meta charset="UTF-8">
    <title>My Google OAuth Project</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>Welcome, {{ user_name }}!</h1>
    {% if is_site_admin %}	
  	<p>You are logged in as a site admin</p>
    {% else %}
    	<p>You are logged in as a normal user.</p>
    {% endif %}
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
  <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" accept=".txt, .pdf, image/jpeg">
    <button type="submit">Upload File</button>
</form>
{% endif %}
</body>
</html>
