{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Report Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #2b5fc8;
        }
    </style>
</head>
<body>
<div class="container py-5">
    {% if messages %}
        {% for message in messages %}
            {% if 'resolution_update' in message.tags %}
                <div class="alert alert-success {{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
{#                <div class="card-header">#}
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Report Details</h4>
                    {% if user.userprofile.is_site_admin and user.is_authenticated %}
                        <form action="{% url 'mark_complete' report.id %}" method="post">
                            {% csrf_token %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="completeStatus" name="completeStatus"
                                       onchange="this.form.submit()" {% if report.report_status == 'Complete' %}checked{% endif %}>
                                <label class="custom-control-label" for="completeStatus">Mark as Complete</label>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> {{ report.id }}</p>
                    <p><strong>Status:</strong>
                        <button class="btn
                            {% if report.report_status == 'New' %}btn-primary
                            {% elif report.report_status == 'In Progress' %}btn-warning
                            {% elif report.report_status == 'Complete' %}btn-success
                            {% endif %}
                        " disabled>{{ report.report_status }}</button>
                    </p>
                    <p><strong>Comment:</strong> {{ report.report_comment }}</p>
                    <p><strong>Location:</strong> {{ report.report_location }}</p>
                    {% if user.userprofile.is_site_admin and user.is_authenticated %}
                        <p><strong>Uploader:</strong> {{ report.report_user }}</p>
                    {% endif %}
                    <p><strong>Uploaded Files:</strong></p>
                    {% for file_upload in report.uploads.all %}
                        <a href="{{ file_upload.data.url }}" target="_blank">{{ file_upload.data.name }}</a><br>
                    {% endfor %}

                    {% if report.report_status == 'Complete' and user.is_authenticated and not user.userprofile.is_site_admin%}
                        <p><strong>Resolution:</strong></p>
                        <p>{{ report.report_response }}</p>
                    {% endif %}

                    {% if user.userprofile.is_site_admin and user.is_authenticated %}
                        {% if report.report_status == 'Complete' %}
                            <form action="{% url 'update_resolution' report.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="reportResponse">Resolution Details:</label>
                                    <textarea class="form-control" id="reportResponse" name="report_response" rows="3">{{ report.report_response }}</textarea>
                                </div>
                                <button type="submit" class="btn btn-info">Submit Resolution</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'view_reports' %}" class="btn btn-danger">Back to All Reports</a>
        </div>
    </div>
</div>
</body>
</html>
